@using SchoolLibrary;
@{
    int studentId = (Request["id"] != null) ? int.Parse(Request["id"]) : 1;
    var filePath = Server.MapPath("data/students.json");
    var students = DbProvider.GetStudents(filePath);

    //query the list & find the student with id = studentID
    var student = students.Where(s => s.Id == studentId).Single();

    //check if there is postback
    if(IsPost)
    {
        //find the student to edit
        //change the details from the user input
        students.Where(s => s.Id == studentId).Single().Name = Request["studentName"];
        //save the list to the json file
        DbProvider.SaveStudents(filePath, students);
    }
}
<!DOCTYPE html>
<html>
<head>
    <title>Edit the student</title>
</head>
<body>
    <h1>Editing details about @student.Name</h1>

    <form method="post" action="">
        <input type="text" name="studentName" value="@student.Name" /><br /><br />
        <input type="email" name="studentEmail" value="@student.Email" /><br /><br />
        <input type="text" name="studentAddress" value="@student.Address" /><br /><br />
        <input type="text" name="studentBirthdate" value="@student.Birthdate" /><br /><br />
        <button type="submit">Save the changes</button>
    </form>

</body>
</html>
