@using SchoolLibrary;
@{ 

Layout = "Layouts/_Students.cshtml";

    var filePath = Server.MapPath("data/users.json");
    var users = DbProvider.GetUsers(filePath);

}
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body class="teachers">
    <h1>List of users</h1>
    <h2>@Request["id"] - @Request["name"]</h2>
    <table border="1">
        <tr>
            <td>Name</td>
            <td>Email</td>
            <td>Address</td>
        </tr>
        @foreach (var user in users.Where(getUser => getUser.UserType == "Student"))
        {
            <tr>
                <td> <a href="student?id=@user.Id">@user.Name</a> </td>
                <td>@user.Address</td>
                <td>@user.Email</td>
            </tr>
        }
    </table>
</body>
</html>

